$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28ad97;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light: #f1f1f1;
$color-gray-light-2: #cecece;
$color-gray-dark: rgb(94, 93, 93);
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
